<% if (mesAnterior.length > 0) { %>
    <% for (let indicador of indicadores) { %>
        <% for (let indicadorAnterior of mesAnterior) { %>
            <% if (indicador.TipoIndicadorID == 4) { %>
                <% if (indicadorAnterior.TipoIndicadorID == 4) { %>
                    <div class="col s12 m4 l13">
                        <div class="card" style="border-radius: 1rem;">
                            <% if(hombres[5].Valor == 0){ %> 
                                <h3 style="text-align: left; padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 25px">No hay indicador del mes</h3>
                            <% } else{ %>
                                <h2 style="text-align: left; padding-top: 50px; padding-left: 50px;"><%= hombres[5].Valor %> <span style="font-size: large; padding-right: 40px;">Hombres</span><%= mujeres[5].Valor %><span style="font-size: large;">Mujeres</span> </h2>
                            <% } %>
                            <div id="hombres1" hidden><%= hombres[0].Valor %></div>
                            <div id="hombres2" hidden><%= hombres[1].Valor %></div>
                            <div id="hombres3" hidden><%= hombres[2].Valor %></div>
                            <div id="hombres4" hidden><%= hombres[3].Valor %></div>
                            <div id="hombres5" hidden><%= hombres[4].Valor %></div>
                            <div id="hombres6" hidden><%= hombres[5].Valor %></div>
                            <div id="mujeres1" hidden><%= mujeres[0].Valor %></div>
                            <div id="mujeres2" hidden><%= mujeres[1].Valor %></div>
                            <div id="mujeres3" hidden><%= mujeres[2].Valor %></div>
                            <div id="mujeres4" hidden><%= mujeres[3].Valor %></div>
                            <div id="mujeres5" hidden><%= mujeres[4].Valor %></div>
                            <div id="mujeres6" hidden><%= mujeres[5].Valor %></div>
                            <div id="mes1" hidden><%= meses[0] %></div>
                            <div id="mes2" hidden><%= meses[1] %></div>
                            <div id="mes3" hidden><%= meses[2] %></div>
                            <div id="mes4" hidden><%= meses[3] %></div>
                            <div id="mes5" hidden><%= meses[4] %></div>
                            <div id="mes6" hidden><%= meses[5] %></div>
                            <canvas id="myChartHombres" style="height: 20px; width: 55px;"></canvas>
                            <script>
                                let myChartHombres = document.getElementById('myChartHombres').getContext('2d');
                                let hombres1 = document.getElementById('hombres1').innerText;
                                let hombres2 = document.getElementById('hombres2').innerText;
                                let hombres3 = document.getElementById('hombres3').innerText;
                                let hombres4 = document.getElementById('hombres4').innerText;
                                let hombres5 = document.getElementById('hombres5').innerText;
                                let hombres6 = document.getElementById('hombres6').innerText;
                                let mujeres1 = document.getElementById('mujeres1').innerText;
                                let mujeres2 = document.getElementById('mujeres2').innerText;
                                let mujeres3 = document.getElementById('mujeres3').innerText;
                                let mujeres4 = document.getElementById('mujeres4').innerText;
                                let mujeres5 = document.getElementById('mujeres5').innerText;
                                let mujeres6 = document.getElementById('mujeres6').innerText;
                                let mes1 = document.getElementById('mes1').innerText;
                                let mes2 = document.getElementById('mes2').innerText;
                                let mes3 = document.getElementById('mes3').innerText;
                                let mes4 = document.getElementById('mes4').innerText;
                                let mes5 = document.getElementById('mes5').innerText;
                                let mes6 = document.getElementById('mes6').innerText;
                                let Hombres_Chart = new Chart(myChartHombres, {
                                    type: 'bar',
                                    data: {
                                        labels:[mes1, mes2, mes3, mes4, mes5, mes6],
                                        datasets:[{
                                            label: 'Numero de Hombres',
                                            data:[
                                                hombres1,
                                                hombres2,
                                                hombres3,
                                                hombres4,
                                                hombres5,
                                                hombres6
                                            ],
                                            backgroundColor:'rgb(0,43,73,0.75)',
                                            fill: true,
                                        },
                                        {
                                            label: 'Numero de Mujeres',
                                            data:[
                                                mujeres1,
                                                mujeres2,
                                                mujeres3,
                                                mujeres4,
                                                mujeres5,
                                                mujeres6
                                            ],
                                            backgroundColor:'rgb(241,122,171,0.75)',
                                            fill: true,
                                        }]
                                    },
                                });
                            </script>
                            <div class="divider" style="margin-top: 20px;"></div>
                            <div class="card-content">
                                <h4 style="padding-bottom: 10px;">Hombres</h4>
                                <% if(rol == "admin" || rol == "recursosHumanos") { %>
                                    <a href="/reportes/modificar/<%= indicador.ValorIndicadorID %> " style="color:azure; background-color: #007DBA; padding: 10px 20px; margin-top: 40rem; font-size: 15px; text-decoration: none; border-radius: .5rem;">Editar</a><br>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l13">
                        <div class="card" style="border-radius: 1rem;">
                            <% if(hombres[5].Valor == 0){ %> 
                                <h3 style="text-align: left; padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 25px">No hay indicador del mes</h3>
                            <% } else{ %>
                                <h2 style="text-align: left; padding-top: 50px; padding-left: 50px;"><%= hombres[5].Valor %> <span style="font-size: large; padding-right: 40px;">Hombres</span><%= mujeres[5].Valor %><span style="font-size: large;">Mujeres</span> </h2>
                            <% } %>
                            <canvas id="myChartHombresMujeres" style="height: 10px; width: 50px;"></canvas>
                            <script>
                                let myChartHombresMujeres = document.getElementById('myChartHombresMujeres').getContext('2d');
                                let HombresMujeres_Chart= new Chart(myChartHombresMujeres, {
                                    type: 'doughnut',
                                    data: {
                                        labels:['Hombres', 'Mujeres'],
                                        datasets:[{
                                            label: 'Numero de Hombres',
                                            data:[
                                                hombres6,
                                                mujeres6
                                            ],
                                            backgroundColor:['rgb(0,43,73,0.75)', 'rgb(241,122,171,0.75)' ],
                                            fill: true 
                                        }]
                                    }
                                });
                            </script>
                            <% if (hombres[5].Valor < hombres[4].Valor) { %>
                                <% const porcentajeh = ((hombres[5].Valor - hombres[4].Valor)/hombres[4].Valor)*100 %>
                                <h6 style="text-align: right; color: red; padding-top: 20px; padding-right: 20px;">
                                    <%= porcentajeh.toFixed(2) %>% de Hombres desde el Mes Anterior
                                </h6>
                            <% } else if (hombres[5].Valor > hombres[4].Valor) { %>
                                <% const porcentajeh = ((hombres[5].Valor - hombres[4].Valor)/hombres[4].Valor)*100 %>
                                <h6 style="text-align: right; color: green; padding-top: 20px; padding-right: 20px;">
                                    <span>+</span>
                                    <%= porcentajeh.toFixed(2) %>% de Hombres desde el Mes Anterior
                                </h6>
                            <% } %>

                            <% if (mujeres[5].Valor < mujeres[4].Valor) { %>
                                <% const porcentajem = ((mujeres[5].Valor - mujeres[4].Valor)/mujeres[4].Valor)*100 %>
                                <h6 style="text-align: right; color: red; padding-top: 20px; padding-right: 20px;">
                                    <%= porcentajem.toFixed(2) %>% de Mujeres desde el Mes Anterior
                                </h6>
                            <% } else if (mujeres[5].Valor > mujeres[4].Valor) { %>
                                <% const porcentajem = ((mujeres[5].Valor - mujeres[4].Valor)/mujeres[4].Valor)*100 %>
                                <h6 style="text-align: right; color: green; padding-top: 20px; padding-right: 20px;">
                                    <span>+</span>
                                    <%= porcentajem.toFixed(2) %>% de Mujeres desde el Mes Anterior
                                </h6>
                            <% } %>
                            <div class="divider" style="margin-top: 20px;"></div>
                            <div class="card-content">
                                <h4 style="padding-bottom: 10px;">Hombres</h4>
                                <% if(rol == "admin" || rol == "recursosHumanos") { %>
                                    <a href="/reportes/modificar/<%= indicador.ValorIndicadorID %> " style="color:azure; background-color: #007DBA; padding: 10px 20px; margin-top: 40rem; font-size: 15px; text-decoration: none; border-radius: .5rem;">Editar</a><br>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
<% } %>