<% if (mesAnterior.length > 0) { %>
    <% for (let indicador of indicadores) { %>
        <% for (let indicadorAnterior of mesAnterior) { %>
            <% if (indicador.TipoIndicadorID == 3) { %>
                <% if (indicadorAnterior.TipoIndicadorID == 3) { %>
                    <div class="col s12 m4 l13">
                        <div class="card" style="border-radius: 1rem;">
                            <% if(co2s[5].Valor == 0){ %> 
                                <h3 style="text-align: left; padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 25px">No hay indicador del mes</h3>
                            <% } else{ %>
                                <h2 style="text-align: left; padding-top: 50px; padding-left: 50px;"><%= indicador.Valor %> <span style="font-size: large;">Tonedeladas</span></h2>
                            <% } %>
                            <div id="co21" hidden><%= co2s[0].Valor %></div>
                            <div id="co22" hidden><%= co2s[1].Valor %></div>
                            <div id="co23" hidden><%= co2s[2].Valor %></div>
                            <div id="co24" hidden><%= co2s[3].Valor %></div>
                            <div id="co25" hidden><%= co2s[4].Valor %></div>
                            <div id="co26" hidden><%= co2s[5].Valor %></div>

                            <div id="mes1" hidden><%= meses[0] %></div>
                            <div id="mes2" hidden><%= meses[1] %></div>
                            <div id="mes3" hidden><%= meses[2] %></div>
                            <div id="mes4" hidden><%= meses[3] %></div>
                            <div id="mes5" hidden><%= meses[4] %></div>
                            <div id="mes6" hidden><%= meses[5] %></div>
                            <canvas id="myChartCO2S" style="height: 20px; width: 55px;"></canvas>
                            <script>
                                let myChartCO2S = document.getElementById('myChartCO2S').getContext('2d');
                                let co21 = document.getElementById('co21').innerText;
                                let co22 = document.getElementById('co22').innerText;
                                let co23 = document.getElementById('co23').innerText;
                                let co24 = document.getElementById('co24').innerText;
                                let co25 = document.getElementById('co25').innerText;
                                let co26 = document.getElementById('co26').innerText;

                                let mes1 = document.getElementById('mes1').innerText;
                                let mes2 = document.getElementById('mes2').innerText;
                                let mes3 = document.getElementById('mes3').innerText;
                                let mes4 = document.getElementById('mes4').innerText;
                                let mes5 = document.getElementById('mes5').innerText;
                                let mes6 = document.getElementById('mes6').innerText;
                                let CO2_Chart = new Chart(myChartCO2S, {
                                    type: 'bar',
                                    data: {
                                        labels:[mes1, mes2, mes3, mes4, mes5, mes6],
                                        datasets:[{
                                            label: 'Toneladas de CO2',
                                            data:[
                                                co21,
                                                co22,
                                                co23,
                                                co24,
                                                co25,
                                                co26
                                            ],
                                            backgroundColor:'rgb(0,43,73,0.75)',
                                            fill: true,
                                        }]
                                    },
                                });
                            </script>
                            <% if (indicador.Valor < indicadorAnterior.Valor) { %>
                                <% const porcentaje = ((indicador.Valor - indicadorAnterior.Valor)/indicadorAnterior.Valor)*100 %>
                                <h6 style="text-align: right; color: red; padding-top: 20px; padding-right: 20px;">
                                    <%= porcentaje.toFixed(2) %>% Desde el Mes Anterior
                                </h6>
                            <% } else if (indicador.Valor > indicadorAnterior.Valor) { %>
                                <% const porcentaje = ((indicador.Valor - indicadorAnterior.Valor)/indicadorAnterior.Valor)*100 %>
                                <h6 style="text-align: right; color: green; padding-top: 20px; padding-right: 20px;">
                                    <span>+</span>
                                    <%= porcentaje.toFixed(2) %>% Desde el Mes Anterior
                                </h6>
                            <% } %>
                            <div class="divider" style="margin-top: 20px;"></div>
                            <div class="card-content">
                                <h4 style="padding-bottom: 10px;">C02</h4>
                                <% if(rol == "admin" || rol == "recursosHumanos") { %>
                                    <a href="/reportes/modificar/<%= indicador.ValorIndicadorID %> " style="color:azure; background-color: #007DBA; padding: 10px 20px; margin-top: 40rem; font-size: 15px; text-decoration: none; border-radius: .5rem;">Editar</a><br>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
<% } %>
