<% if (mesAnterior.length > 0) { %>
    <% for (let indicador of indicadores) { %>
        <% for (let indicadorAnterior of mesAnterior) { %>
            <% if (indicador.TipoIndicadorID == 5) { %>
                <% if (indicadorAnterior.TipoIndicadorID == 5) { %>
                    <div class="col s12 m4 l13">
                        <div class="card" style="border-radius: 1rem;">
                            <% if(co2s[5].Valor == 0){ %> 
                                <h3 style="text-align: left; padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 25px">No hay indicador del mes</h3>
                            <% } else{ %>
                                <h2 style="text-align: left; padding-top: 50px; padding-left: 50px;"><%= indicador.Valor %> <span style="font-size: large;">Mujeres</span></h2>
                            <% } %>
                            <div id="mujeres1" hidden><%= mujeres[0].Valor %></div>
                            <div id="mujeres2" hidden><%= mujeres[1].Valor %></div>
                            <div id="mujeres3" hidden><%= mujeres[2].Valor %></div>
                            <div id="mujeres4" hidden><%= mujeres[3].Valor %></div>
                            <div id="mujeres5" hidden><%= mujeres[4].Valor %></div>
                            <div id="mujeres6" hidden><%= mujeres[5].Valor %></div>
                            <canvas id="myChartmujeres" style="height: 20px; width: 55px;"></canvas>
                            <script>
                                let myChartmujeres = document.getElementById('myChartmujeres').getContext('2d');
                                let mujeres1 = document.getElementById('mujeres1').innerText;
                                let mujeres2 = document.getElementById('mujeres2').innerText;
                                let mujeres3 = document.getElementById('mujeres3').innerText;
                                let mujeres4 = document.getElementById('mujeres4').innerText;
                                let mujeres5 = document.getElementById('mujeres5').innerText;
                                let mujeres6 = document.getElementById('mujeres6').innerText;
                                let mujeres_Chart = new Chart(myChartmujeres, {
                                    type: 'bar',
                                    data: {
                                        labels:[mes1, mes2, mes3, mes4, mes5, mes6],
                                        datasets:[{
                                            label: 'Numero de Mujeres',
                                            data:[
                                                mujeres1,
                                                mujeres2,
                                                mujeres3,
                                                mujeres4,
                                                mujeres5,
                                                mujeres6
                                            ],
                                            backgroundColor:'rgb(0,43,73,0.75)',
                                            fill: true,
                                        }]
                                    },
                                });
                            </script>  
                            <% if (indicador.Valor < indicadorAnterior.Valor) { %>
                                <% const porcentaje = ((indicador.Valor - indicadorAnterior.Valor)/indicadorAnterior.Valor)*100 %>
                                <h6 style="text-align: right; color: red; padding-top: 20px; padding-right: 20px;">
                                    <%= porcentaje.toFixed(2) %>% Desde el Mes Anterior
                                </h6>
                            <% } else if (indicador.Valor > indicadorAnterior.Valor) { %>
                                <% const porcentaje = ((indicador.Valor - indicadorAnterior.Valor)/indicadorAnterior.Valor)*100 %>
                                <h6 style="text-align: right; color: green; padding-top: 20px; padding-right: 20px;">
                                    <span>+</span>
                                    <%= porcentaje.toFixed(2) %>% Desde el Mes Anterior
                                </h6>
                            <% } %>
                            <div class="divider" style="margin-top: 20px;"></div>
                            <div class="card-content">
                                <h4 style="padding-bottom: 10px;">Mujeres</h4>
                                <% if(rol == "admin" || rol == "recursosHumanos") { %>
                                    <a href="/reportes/modificar/<%= indicador.ValorIndicadorID %> " style="color:azure; background-color: #007DBA; padding: 10px 20px; margin-top: 40rem; font-size: 15px; text-decoration: none; border-radius: .5rem;">Editar</a><br>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
    <!--QUE PASA SI NO HAY VALORES DE MES ANTERIOR-->
<% } else if (mesAnterior.length < 1) { %>
    <% for (let indicador of indicadores) { %>
        <% if (indicador.TipoIndicadorID == 5) { %>
            <div class="col s12 m4 l13">
                <div class="card" style="border-radius: 1rem;">
                    <h2 style="text-align: left; padding-top: 50px; padding-left: 50px;"><%= indicador.Valor %> <span style="font-size: large;">Mujeres</span></h2>
                    <div class="divider" style="margin-top: 20px;"></div>
                    <div class="card-content">
                        <h4 style="padding-bottom: 10px;">Mujeres</h4>
                        <% if(rol == "admin" || rol == "recursosHumanos") { %>
                            <a href="/reportes/modificar/<%= indicador.ValorIndicadorID %> " style="color:azure; background-color: #007DBA; padding: 10px 20px; margin-top: 40rem; font-size: 15px; text-decoration: none; border-radius: .5rem;">Editar</a><br>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
<% } %>