<%- include('includes/sideBarPromJF.ejs') %>
    <h4 id='vacaciones'> Mis Solicitudes de Vacaciones</h4>

    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <a class='btn-large blue' href='#'>Realizar Mi Solicitud</a>
        </div>
    </div>


    <% if (solicitudes.length> 0) { %>
        <% for (let solicitud of solicitudes) { %>
            <div class="row">
                <div class="col s12 m2 l13"></div>
                <div class="col s12 m8 l13">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-content" style="padding: 10px;">
                            <span class="card-title activator black-text text-darken-4 center ">
                                <h6 id='hr'>10:15</h6>
                            </span>
                            <div class="row">
                                <div class="col s12 m7 l13">
                                    <span class='txt'>
                                        <h5>Solicitud <%= solicitud.fechaSolicitud.toString().substring(0,15) %>
                                        </h5>
                                    </span>
                                </div>
                                <div class="col s12 m2 l13">
                                    <a class="btn-large tooltipped green " data-position="bottom"
                                        data-tooltip="Rechazada">Aceptada</a>
                                </div>
                                <div class="col s12 m2 l13">
                                    <p style="padding-left: 15px">Aceptada por Pablo Arroyo</p>
                                </div>
                            </div>
                            <span class='txt2'>
                                <h6>
                                    <%= solicitud.fechaInicio.toString().substring(0,15) %> | <%= solicitud.fechaFin.toString().substring(0,15) %>
                                </h6>
                            </span>
                        </div>
                        <div class="card-image waves-effect waves-block waves-light"></div>
                        <!--<div class="card-content">
                    <p><a href="#">Ver Reportes</a></p>
                </div>-->
                    </div>
                </div>
            </div>
            <% } %>
                <% } else { %>
                    <h3>No tienes solicitudes de vacaciones</h3>
                    <% } %>

<%- include('includes/footer.ejs') %>