<%- include('../includes/sideBarGeneral.ejs') %>

<h4 class="center">Solicitudes de NGB</h4>

<% if (rol == 'lider') { %>
    <%- include('componentes/botones/botonRealizarSol.ejs') %>
<% } %>

<% if (rol == 'admin') { %>
    <%- include('componentes/botones/botonConsultarNGB.ejs') %>
<% } %>

<% if (flag == 'ngbAceptada') { %> 
    <%- include('componentes/cartas/cartaRetroAceptarNGB.ejs') %>
<% } %>

<% if (ngbsPorAceptar.length > 0){ %>
    <%- include('componentes/cartas/cartaAceptarSol.ejs') %>
<% } else { %>
    <h4 class="center">No hay Solicitudes de NGB</h4>
<% } %>

<%- include('../includes/footer.ejs') %>