<%- include('../includes/sideBarGeneral.ejs') %>
<h4 class="center">Solicitudes de NGB</h4>

<% if (rol == 'recursosHumanos') { %>
    <%- include('componentes/botonRealizarSol') %>
<% } %>

<br>

<%- include('componentes/bloqueDropDown_MesArea_BotonDescarga.ejs') %>

<%- include('componentes/cartaConsultarEstatus.ejs') %>
<%- include('componentes/cartaConsultarEstatus.ejs') %>

<%- include('../includes/footer.ejs') %>