<%- include('../includes/sideBarGeneral.ejs') %>
<h4 class="center">Solicitudes de NGB</h4>

<% if (rol == 'recursosHumanos') { %>
    <%- include('componentes/botones/botonRealizarSol') %>
<% } %>

<% if (rol == 'admin') { %>
    <%- include('componentes/botones/botonResponderSol.ejs') %>
<% } %>

<br>

<%- include('componentes/bloques/bloqueDropDown_MesArea_BotonDescarga.ejs') %>

<% if (solicitudes.length > 0) { %>
    <%- include('componentes/cartas/cartaConsultarEstatus.ejs') %>
<% } else{  %>
    <h4>No hay Solicitudes de NGB</h4>
    <% } %>

<%- include('../includes/footer.ejs') %>
