<%- include('../includes/sideBarGeneral.ejs') %>
    <h4 class="center">Solicitudes de Vacaciones</h4>


    <% if (rol == 'lider') { %>
    <div class="row center">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <%- include('componentes/botonCrearSol.ejs') %>
            <%- include('componentes/botonEstatusMisVac.ejs') %>
        </div>
    </div>
    <% } %>

    <% if (solicitudes.length > 0) { %>
        <% for (let solicitud of solicitudes) { %>
            <%- include('componentes/cartaAceptarEstatusSolVac.ejs', {solicitud: solicitud}) %>
        <% } %>
    <% } else { %>
            <img src="/Images/empty_street.png" alt="Empty Street   ">
            <h3 style="text-align-center">No hay solicitudes existentes</h3>
    <% } %>

<%- include('../includes/footer.ejs') %>