<%- include('../includes/sideBarGeneral.ejs') %>
    <h4 class="center">Mis Solicitudes de Vacaciones</h4>
    <%- include('componentes/botonCrearSol.ejs') %>
    <%- include('componentes/cartaAceptarEstatusSolVac.ejs') %>
    <%- include('componentes/cartaAceptarEstatusSolVac.ejs') %>
    <%- include('componentes/cartaAceptarEstatusSolVac.ejs') %>

<%- include('../includes/footer.ejs') %>