<%- include('../includes/sideBarGeneral.ejs') %>
    <h4 class="center">Solicitudes de Vacaciones</h4>
    <div class="row center">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <%- include('componentes/botonCrearSol.ejs') %>
            <%- include('componentes/botonEstatusMisVac.ejs') %>
        </div>
    </div>
    <%- include('componentes/cartaAceptarEstatusSolVac.ejs') %>
    <%- include('componentes/cartaAceptarEstatusSolVac.ejs') %>
    <%- include('componentes/cartaAceptarEstatusSolVac.ejs') %>

<%- include('../includes/footer.ejs') %>