<%- include('../includes/sideBarGeneral.ejs') %>
    <h4 class="center">Solicitudes de Vacaciones</h4>
    <% if (rol == 'lider') { %>
    <div class="row center">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <%- include('componentes/botonCrearSol.ejs') %>
            <%- include('componentes/botonEstatusMisVac.ejs') %>
        </div>
    </div>
    <% } %>

    <% if (solicitudes.length > 0) { %>
        <% for (let solicitud of solicitudes) { %>
            <%- include('componentes/cartaAceptarEstatusSolVac.ejs', {solicitud: solicitud}) %>
        <% } %>
    <% } else { %>
            <img src="/Images/empty_street.png" alt="Empty Street">
            <h3 style="text-align-center">No hay solicitudes existentes</h3>
    <% } %>

<!--      Script Botones Aceptar o Rechazar    -->
    <script>
        let botones = document.getElementsByClassName("js-btn");
        for (let boton of botones) {
            boton.addEventListener("click", () => {
                let card = boton.closest('.card');
                if(boton.classList.contains('red')) {
                    console.log('Solicitud ' + card.dataset.solId + ' Rechazada');
                    // Ajax Rechazada
                    // Alerta de solicitud rechazada

                } else if(boton.classList.contains('green')) {
                    console.log('Solicitud ' + card.dataset.solId + ' Aceptada');
                    // Ajax Aceptada
                    // Alerta de solicitud Aceptada
                }

                // Borrar la tarjeta

            });
        };
    </script>

<%- include('../includes/footer.ejs') %>