<%- include('../includes/sideBarGeneral.ejs') %>

    <h4 class="center">Solicitudes de Vacaciones</h4>
    <% if (rol == 'lider') { %>
    <div class="row center">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <%- include('componentes/botones/botonCrearSol.ejs') %>
            <%- include('componentes/botones/botonEstatusMisVac.ejs') %>
        </div>
    </div>
    <% } %>

    <% if (rol == 'admin') { %>
        <div class="center">
            <%- include('componentes/botones/botonConsultarVac.ejs') %>
        </div>
        <br>
    <% } %>

    <% if (flag == 'solicitudAceptada') { %> 
        <%- include('componentes/cartas/cartaRetroAceptar.ejs') %>
    <% } else if (flag == 'solicitudRechazada') { %>
        <%- include('componentes/cartas/cartaRetroRechazar.ejs') %>
    <% } %>

    <% if (solicitudes.length > 0) { %>
        <% for (solicitud of solicitudes) { %>
            <%- include('componentes/cartas/cartaAceptarEstatusSolVac.ejs', {solicitud: solicitud}) %>
        <% } %>
    <% } else { %>
        <h3 class="center">No hay solicitudes enviadas</h2>
    <% } %>
           
<%- include('../includes/footer.ejs') %>