<%- include('../includes/sideBarGeneral.ejs') %>

<h4 class="center">Mis Solicitudes de Vacaciones</h4>

<div class="row center">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <%- include('componentes/botones/botonCrearSol.ejs') %>
        <% if (rol == 'lider') { %>
            <%- include('componentes/botones/botonAceptarSol.ejs') %>
        <% } %>
        <% if (rol == 'recursosHumanos') { %>
            <%- include('componentes/botones/botonConsultarVac.ejs') %>
        <% } %>
    </div>
</div>

<% if (flag == 'solicitudCancelada') { %>
    <%- include('componentes/cartas/cartaRetroCancelar.ejs') %>
<% } %>

<% if (solicitudes.length > 0) { %>
    <% for (solicitud of solicitudes) { %>
        <%- include('componentes/cartas/cartaEstatusMisSolVac.ejs', {solicitud: solicitud}) %>
    <% } %>
    <ul class="pagination center">
        <% if (page > 1) { %>
            <li class="waves-effect"><a href="/vacaciones/estatus_mis_vacaciones/?page=1"><i class="material-icons">first_page</i></a></li>
            <li class="waves-effect"><a href="/vacaciones/estatus_mis_vacaciones/?page=<%=page - 1%>"><i class="material-icons">chevron_left</i></a></li>
        <% } else { %>
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <% } %>
        <% for (let i = iterator; i <= paginaFinal; i++) { %>
            <% if (i == page) { %>
                <li class="active light-blue darken-4"><a href="/vacaciones/estatus_mis_vacaciones/?page=<%= i%>"><%= i %></a></li>
                <% continue; %>
            <% } %>
            <li class="waves-effect"><a href="/vacaciones/estatus_mis_vacaciones/?page=<%= i%>"><%= i %></a></li>
        <% } %>
        <% if (page < numeroDePaginas) { %>
            <li class="waves-effect"><a href="/vacaciones/estatus_mis_vacaciones/?page=<%=page + 1%>"><i class="material-icons">chevron_right</i></a></li>
            <li class="waves-effect"><a href="/vacaciones/estatus_mis_vacaciones/?page=<%= numeroDePaginas%>"><i class="material-icons">last_page</i></a></li>
        <% } else { %>
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        <% } %>
    </ul>
<% } else { %>
    <h3 class="center">No tienes solicitudes de vacaciones</h5>
<% } %>

<%- include('../includes/footer.ejs') %>