<%- include('../includes/sideBarGeneral.ejs') %>
    <h4 class="center"> Mis Solicitudes de Vacaciones</h4>

<% if (rol == 'lider' || rol == 'recursosHumanos') { %>
    <%- include('componentes/botonCrearSol.ejs') %>
<% } %>

<% if (rol == 'admin' || rol == 'recursosHumanos') { %>
    <br>
    <%- include ('componentes/bloques/bloqueDropdown_MesArea_BotonDescarga.ejs') %>
<% } %>

<% if (solicitudes.length> 0) { %>
    <%- include('componentes/cartaEstatusSolVac.ejs') %>
<% } else { %>
    <h3>No tienes solicitudes de vacaciones</h3>
<% } %>

<%- include('../includes/footer.ejs') %>