<%- include('../includes/sideBarGeneral.ejs') %>

<h4 class="center">Mis Solicitudes de Vacaciones</h4>

<div class="row center">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <%- include('componentes/botones/botonCrearSol.ejs') %>
        <% if (rol == 'lider') { %>
            <%- include('componentes/botones/botonAceptarSol.ejs') %>
        <% } %>
        <% if (rol == 'recursosHumanos') { %>
            <%- include('componentes/botones/botonConsultarVac.ejs') %>
        <% } %>
    </div>
</div>

<% if (flag == 'solicitudCancelada') { %>
    <%- include('componentes/cartas/cartaRetroCancelar.ejs') %> <br>
<% } %>

<% if (solicitudes.length > 0) { %>
    <% for (solicitud of solicitudes) { %>
        <%- include('componentes/cartas/cartaEstatusMisSolVac.ejs', {solicitud: solicitud}) %>
    <% } %>
<% } else { %>
    <h3 class="center">No tienes solicitudes de vacaciones</h5>
<% } %>
<%- include('../includes/footer.ejs') %>