<%- include('../includes/sideBarGeneral.ejs') %>

<div class="row">
    <div class="col s12 m4 l13"></div>
    <div class="col s12 m4 l13">
        <div class="card" style="border-radius: 15px;">
            <h3 class="center" style="padding-bottom: 0px; padding-top: 20px;">MI SOLICITUD DE VACACIONES</h3>
            <p class="center">Fecha de la solicitud: <%= fechaSolicitud %></p>
            <h5 class="center">Vacaciones disponibles:</h5>
            <h6 class="center"><%= vacacionesRestantes %>
            <% if (vacacionesRestantes == 1) { %>
                día
            <% } else { %>
                días
            <% } %></h6>
            <% if (vacacionesRestantes <= 0 || vacacionesRestantes == null) { %> 
                <h6 class="center" style="font-weight: 600; color: red;">No tienes vacaciones disponibles</h6>
            <% } %>

            <% if (flag == 'success') { %>
                <%- include('componentes/cartas/cartaSolVacExitosa.ejs') %>
            <% } %>

            <form action="/vacaciones/solicitar_mis_vacaciones" method="POST">
                <div style="padding: 0px 30px;">
                    <h5>Fecha inicio</h5>
                    <input type="date" id="FI" name="fechaInicio"
                    <% if (flag == 'FII' || flag == 'FFI' || flag == 'FRI' || flag == 'NVI' || flag == 'FISB' || flag == 'FFSB' || flag == 'FRSB') { %> 
                        value="<%= fechaInicio %>" 
                    <% } %>
                    
                    <% if (vacacionesRestantes <= 0 || vacacionesRestantes == null) { %>
                        disabled 
                    <% } %> required>

                    <% if (flag == 'FII' || flag == 'FISB') { %>
                        <%- include('componentes/cartas/cartaErrorFI.ejs') %>
                    <% } %>
                </div>
                <div style="padding: 0px 30px;">
                    <h5>Fecha fin</h5>
                    <input type="date" id="FF" name="fechaFin" 
                    <% if (flag == 'FII' || flag == 'FFI' || flag == 'FRI' || flag == 'NVI'|| flag == 'FISB' || flag == 'FFSB' || flag == 'FRSB') { %> 
                        value="<%= fechaFin %>" 
                    <% } %>
                    <% if (vacacionesRestantes <= 0 || vacacionesRestantes == null) { %>
                        disabled 
                    <% } %> required>

                    <% if (flag == 'FFI' || flag == 'FFSB') { %>
                        <%- include('componentes/cartas/cartaErrorFF.ejs') %>
                    <% } else if (flag == 'NVI') { %>
                        <%- include('componentes/cartas/cartaErrorNVI') %>
                    <% } %>
                </div>
                <div style="padding: 0px 30px;">
                    <h5>Fecha reanudación</h5>
                    <input type="date" id="FR" name="fechaReanudacion" 
                    <% if (flag == 'FII' || flag == 'FFI' || flag == 'FRI' || flag == 'NVI'|| flag == 'FISB' || flag == 'FFSB' || flag == 'FRSB') {%> 
                        value="<%= fechaReanudacion %>" 
                    <% } %>
                    <% if (vacacionesRestantes <= 0 || vacacionesRestantes == null) { %>
                        disabled 
                    <% } %> required>

                    <% if (flag == 'FRI' || flag == 'FRSB') { %>
                        <%- include('componentes/cartas/cartaErrorFR.ejs') %>
                    <% } %>
                </div>
                <div style="padding: 0px 30px;">
                    <h5>Suplente:</h5>
                    <input placeholder="Ingresa el nombre aquí" id="first_name" type="text" class="validate" name="suplente"
                    <% if (vacacionesRestantes <= 0 || vacacionesRestantes == null) { %>
                        disabled 
                    <% } %> 
                    <% if (flag == 'FII' || flag == 'FFI' || flag == 'FRI' || flag == 'NVI' || flag == 'FISB' || flag == 'FFSB' || flag == 'FRSB') {%> 
                        value="<%= suplente %>" 
                    <% } %>
                    required>
                </div>
                <br>    
                <div class="left-align" style="padding-left: 30px; ">
                    <span style="font-weight: bold;">*</span> Una vez enviada, podrás checar el estatus de tu solicitud en "Mis Vacaciones"
                </div>

                <div class="center" style="padding-top: 20px;">
                    <button class="btn waves-effect waves-light green" type="submit" style="margin-bottom: 50px;" 
                    <% if (vacacionesRestantes <= 0 || vacacionesRestantes == null) { %>
                        disabled 
                    <% } %> >Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>
<%- include('../includes/footer.ejs') %>