<% for (let solicitud of solicitudes) { %>
    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card " style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <div class="row">
                        <div class="col s12 m12 l13">
                            <span class='txt'>
                                <h5 style="margin-left: 1.8vw;">
                                    <span style="font-weight: 600;">
                                        Empleado:   
                                    </span>
                                        <%= solicitud.nomSolicita + ' ' + solicitud.apellidoPatSolicita + ' ' + solicitud.apellidoMatSolicita %> 
                                </h5>
                            </span>
                        </div>
                        <div class="col s12 m4 l13">
                            <h6 style="margin-left: 1.8vw;"> 
                                <span style="font-weight: 600;">Suplente:</span> <%= solicitud.suplente %>
                            </h6>
                        </div>
                        <div class="col s12 m4 l13"></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <h6 style="margin-left: 1.8vw;">
                                <span style="font-weight: 600;">Fecha Inicio:</span>
                                <%= solicitud.fechaInicio.getDate() + '/' + (solicitud.fechaInicio.getMonth() + 1) + '/' + solicitud.fechaInicio.getFullYear() %>
                                |
                                <span style="font-weight: 600;">Fecha Fin:</span>
                                <%= solicitud.fechaFin.getDate() + '/' + (solicitud.fechaFin.getMonth() + 1) + '/' + solicitud.fechaFin.getFullYear() %>
                            </h6>
                        </div>
                        <div class="col s12 m2 l13">
                            <% if (solicitud.solicitudAceptadaEstatus == 1) { %>
                                <%- include('../bloques/componentesBloque/cartas/cartaAceptado.ejs') %>
                            <% } else if (solicitud.solicitudAceptadaEstatus == 0) { %>
                                <%- include ('../bloques/componentesBloque/cartas/cartaRechazado', {nota: solicitud.Nota}) %>
                            <% } %>
                        </div>
                        <div class="col s12 m2 l13">
                            <% if (solicitud.solicitudAceptadaEstatus == 1 ) { %>
                                Por <%= solicitud.nomLider + ' ' + solicitud.apellidoPatLider + ' ' + solicitud.apellidoMatLider %>
                            <% } else if (solicitud.solicitudAceptadaEstatus == 0) { %>
                                Por <%= solicitud.nomLider + ' ' + solicitud.apellidoPatLider + ' ' + solicitud.apellidoMatLider %>
                            <% } %>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l13">
                            <h6 style="margin-left: 1.8vw;">
                                <span style="font-weight: 600;">Fecha Reanudación: </span> <%=
                                solicitud.fechaReanudacion.getDate() + '/' + (solicitud.fechaReanudacion.getMonth() + 1) + '/' + solicitud.fechaReanudacion.getFullYear() %>
                            </h6>
                        </div>
                        <div class="col s12 m2 l13"></div>
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 2.5vw;">
                            <span style="font-weight: 600;">Fecha de solicitud: </span> <%=
                            solicitud.fechaSolicitud.getDate() + '/' + (solicitud.fechaSolicitud.getMonth() + 1) + '/' + solicitud.fechaSolicitud.getFullYear()%>
                        </h6>
                    </div>
                </div>
                <div class="card-image waves-effect waves-block waves-light"></div>
            </div>
        </div>
    </div>
<% } %>