    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card" style="border-radius: 15px;" data-sol-id="<%= solicitud.idSolicitud %>">
                <div class="card-content" style="padding: 10px;">
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <span class='txt'>
                                <h5 style="margin-left: 5%;">
                                    <span style="font-weight: 600;">Fecha de solicitud:</span> <%= solicitud.fechaSolicitud.getDate() + '/' + solicitud.fechaSolicitud.getMonth() + '/' + solicitud.fechaSolicitud.getFullYear() %>
                                </h5>
                            </span>
                        </div>
                        <div class="col s12 m2 l13"></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <h6 style="margin-left: 5%;">
                                <span style="font-weight: 600;">Fecha Inicio:</span> <%= solicitud.fechaInicio.getDate() + '/' + solicitud.fechaInicio.getMonth() + '/' + solicitud.fechaInicio.getFullYear() %> | <span style="font-weight: 600;">Fecha Fin:</span> <%= solicitud.fechaFin.getDate() + '/' + solicitud.fechaFin.getMonth() + '/' + solicitud.fechaFin.getFullYear() %>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l13">
                            <h6 style="margin-left: 1.8vw;">
                               <span style="font-weight: 600;">Fecha Reanudación: </span>
                               <%= solicitud.fechaReanudacion.getDate() + '/' + solicitud.fechaReanudacion.getMonth() + '/' + solicitud.fechaReanudacion.getFullYear() %>
                            </h6>
                        </div>
                        <div class="col s12 m3 l13" style="display: inline-flex;">
                            <%- include('../bloques/componentesBloque/botones/botonAceptado.ejs', {solicitud: solicitud}) %>
                            <span style="margin-left: 5vw;"></span>
                            <%- include('../bloques/componentesBloque/botones/botonRechazado.ejs') %>
                        </div>
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 4%;">
                            <span style="font-weight: 600;">
                                Empleado: 
                            </span>
                                <%= solicitud.nombre + ' ' + solicitud.apellidoPaterno + ' ' + solicitud.apellidoMaterno%> |
                            <span style="font-weight: 600;">Suplente:</span> <%= solicitud.suplente %>
                        </h6>
                    </div>
                </div>
                <div class="card-image waves-effect waves-block waves-light"></div>
            </div>
        </div>
    </div>