<div class="col s12 m4 l13">
    <div class="card medium" style="border-radius: 15px;">
        <div class="card-content" style="padding: 10px;">
            <span class="card-title activator black-text text-darken-4 center ">
                <h4>Reportes</h4>
                <li class="divider"></li>
            </span>
        </div>
        <div class="card-image waves-effect waves-block waves-light">
            <% if (mesAnterior.length > 0) { %>
                <% for (let indicador of indicadores) { %>
                    <% for (let indicadorAnterior of mesAnterior) { %>
                        <% if (indicador.TipoIndicadorID == 1) { %>
                            <% if (indicadorAnterior.TipoIndicadorID == 1) { %>
                                
                                <div class="row" style="display: flex; flex-direction: row; margin-top: -10px;">
                                    <h5 style="text-align: left; padding-left: 50px;">NPS: <%= indicador.Valor %></h5>

                                    <% if (indicador.Valor < indicadorAnterior.Valor) { %>
                                        <% const porcentaje = ((indicador.Valor - indicadorAnterior.Valor)/indicadorAnterior.Valor)*100 %>
                                        <h6 style="text-align: right; color: red; padding-top: 10px; padding-left: 30px;">
                                            <%= porcentaje.toFixed(2) %>% Desde el Mes Anterior
                                        </h6>
                                    <% } else if (indicador.Valor > indicadorAnterior.Valor) { %>
                                        <% const porcentaje = ((indicador.Valor - indicadorAnterior.Valor)/indicadorAnterior.Valor)*100 %>
                                        <h6 style="text-align: right; color: green; padding-top: 10px; padding-left: 30px;">
                                            <span>+</span>
                                            <%= porcentaje.toFixed(2) %>% Desde el Mes Anterior
                                        </h6>
                                    <% } %>

                                </div>
                                
                                <div id="nps1" hidden><%= npss[0].Valor %></div>
                                <div id="nps2" hidden><%= npss[1].Valor %></div>
                                <div id="nps3" hidden><%= npss[2].Valor %></div>
                                <div id="nps4" hidden><%= npss[3].Valor %></div>
                                <div id="nps5" hidden><%= npss[4].Valor %></div>
                                <div id="nps6" hidden><%= npss[5].Valor %></div>

                                <div id="mes1" hidden><%= meses[0] %></div>
                                <div id="mes2" hidden><%= meses[1] %></div>
                                <div id="mes3" hidden><%= meses[2] %></div>
                                <div id="mes4" hidden><%= meses[3] %></div>
                                <div id="mes5" hidden><%= meses[4] %></div>
                                <div id="mes6" hidden><%= meses[5] %></div>
                                <% console.log("-----------------------------------------------------------------") %>
                                <% console.log(npss) %>
                                <canvas id="myChart" style="height: 20px; width: 55px;"></canvas>
                                <script>
                                    let myChart = document.getElementById('myChart').getContext('2d');
                                    let nps1 = document.getElementById('nps1').innerText;
                                    let nps2 = document.getElementById('nps2').innerText;
                                    let nps3 = document.getElementById('nps3').innerText;
                                    let nps4 = document.getElementById('nps4').innerText;
                                    let nps5 = document.getElementById('nps5').innerText;
                                    let nps6 = document.getElementById('nps6').innerText;

                                    let mes1 = document.getElementById('mes1').innerText;
                                    let mes2 = document.getElementById('mes2').innerText;
                                    let mes3 = document.getElementById('mes3').innerText;
                                    let mes4 = document.getElementById('mes4').innerText;
                                    let mes5 = document.getElementById('mes5').innerText;
                                    let mes6 = document.getElementById('mes6').innerText;
                                    let NPS_Chart = new Chart(myChart, {
                                        type: 'bar',
                                        data: {
                                            labels:[mes1, mes2, mes3, mes4, mes5, mes6],
                                            datasets:[{
                                                label: 'Valor NPS',
                                                data:[
                                                    nps1,
                                                    nps2,
                                                    nps3,
                                                    nps4,
                                                    nps5,
                                                    nps6
                                                ],
                                                backgroundColor:'rgb(0,43,73,0.75)',
                                                fill: true,
                                            }]
                                        },
                                    });
                                </script>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>

        </div>
        <div class="card-content">
            <p><a href="/reportes">Ver Reportes</a></p>
        </div>
    </div>
</div> 