<%- include('../includes/sideBarGeneral.ejs') %>

<h3 style="text-align: center; padding-bottom: 10px;">Editar Reporte</h3>

<div class="row">
    <div class="col s12 m4 l13"></div>
    <div class="col s12 m4 l13">
        <div class="card " style="border-radius: 15px;">
            <form action="/reportes/modificar" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="_csrf" >
                <div style="padding: 20px 30px;">
                    <% if(flag=="success") { %>
                        <%- include('componentes/cartas/cartaRegistroExitoso.ejs') %>
                        <h5>Valor Actual:</h5>
                        <input value="<%= valorNuevo %> " id="Titulo" type="text" class="validate" name="nombre" readonly>
                    <% } else { %>
                        <h5>Valor Actual:</h5>
                        <input value="<%= valor %> " id="Titulo" type="text" class="validate" name="nombre" readonly>
                    <% } %>
                </div>

                
                
                <div class="input-field" style="padding: 0px 30px">
                    <h5>Nuevo Valor:</h5>
                    <input placeholder="Modifica el valor aquí" id="textareaTexto" class="materialize-textarea" name="nuevoValor" required>
                </div>
                
                <br>   
                <div class="center">
                    *El cambio se aplicara al mes registrado mas reciente
                </div> 
                
                <div class="center" style="padding-top: 20px;">
                    <button class="btn waves-effect waves-light green" type="submit" name="action" style="margin-bottom: 50px;">Guardar
                    </button>
                </div>
                <input value="<%= valor %>" name="valor" hidden>
                <input value="<%= idIndicador %>" name="idIndicador" hidden>
            </form>
            
            
            

        </div>
    </div>

<%- include('../includes/footer.ejs') %>