<%- include('../includes/sideBarGeneral.ejs') %>
    <div class="row center">
        <% if (flag == 'success') { %>
            <%- include('componentes/cartas/cartaExitoBanner.ejs') %>
        <% } %>
        <div class="col s12 m3 l13"></div>
        <div class="col s12 m6 l13">
            <div class="card"  style="border-radius: 15px; padding: 40px 40px; margin-top: 100px;">
                <div class="card-content center" style="padding: 10px; padding-right: 20px;  padding-left: 20px;">
                    <div style="margin-bottom: 50px">
                        <h4>Agregar Banner</h4>
                    </div>
                    <form action="/banners/agregar_banner" method="POST" enctype="multipart/form-data">
                        <div class="file-field input-field" style="margin-bottom: 20px">
                            <div class="row">
                                <div class="btn ">
                                    <span>Archivo</span>
                                  <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" style="width: 200px; margin-top: 10px;" required>
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>

                        <label for="expiracion" style="font-weight: bold; color: black; margin-right: 10px;">Fecha de Expiración</label>
                        <input id= "expiracion" type="date" class="" name="expiracion" required style="width: 20em; margin-top: 10px;" value="<%= date %>">

                        <% if (flag == 'fail') { %>
                            <%- include('componentes/cartas/cartaErrorBanner.ejs') %>
                        <% } %>
                        <div class="center" style="padding-top: 20px;">
                            <button class="btn waves-effect waves-light green" type="submit" name="action" style="margin-bottom: 50px;">Subir
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    
                </div>  
                
            </div>
            
        </div>
        <div class="col s12 m3 l13"></div>
    </div>



<%- include('../includes/footer.ejs') %>