<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col s8 m6 l6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#002b49" fill="none" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; margin-top: 10px;">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>
                        <span class="card-title activator black-text text-darken-4" style="padding-left: 30px;"><h4><a class="modal-trigger" style="color: #43B02A;" href="#anuncios?id=<%= anuncio.IdAnuncios %>"><%= anuncio.Titulo %></a></h4></span>
                    </div>
                    <div class="col s2 m6 l4"></div>
                    <div class="col s2 m2 l2">
                        <span style="margin-top: 10px;"><h6>Fecha de publicación: <%= anuncio.Fecha.getDate()+'/'+anuncio.Fecha.getMonth()+'/'+anuncio.Fecha.getFullYear() %></h6></span>
                    </div>
                </div>
            </div>
            <div class="card-content" style="padding-top:0px; padding-left: 30px;">
                <p><%= anuncio.texto.toString().substr(0, 350) %>...</p>
            </div>
            <% if (rol == 'admin' || rol == 'recursosHumanos') { %>
                <br>
                <%- include ('../botones/botonModificarAnuncio.ejs') %>
            <% } %>
        </div>
    </div>
</div>

<!-- Estructura del Modal -->
<div id="anuncios?id=<%= anuncio.IdAnuncios %>" class="modal" style="border-radius: 15px;">
    <div class="modal-content" style="border-radius: 15px;">
      <h4><%= anuncio.Titulo %></h4>
      <% if (anuncio.recursoDigital != null) { %>
        <img src="/<%= anuncio.recursoDigital %>" style="width: fit-content; height: 300px; align-content: center;">
      <% } %>
      <p><%= anuncio.texto %></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-blue btn-flat" style="border-radius: 10px;">Cerrar</a>
    </div>
</div>