<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col s12 m2 l13">
                    </div>
                    <div class="col s12 m8 l13"></div>
                    <div class="col s12 m2 l13">
                        <span style="margin-top: 10px; margin-left: 10px;"><h6>Fecha de publicación: <%= anuncio.Fecha.getDate()+'/'+anuncio.Fecha.getMonth()+'/'+anuncio.Fecha.getFullYear() %></h6></span>
                    </div>

                    <div class="col s12 m12 l13">
                        <span class="card-title activator black-text text-darken-4" style="padding-left: 30px; color: #000; font-weight: 300px;"><h4><%= anuncio.Titulo %></h4></span>
                    </div>
                </div>
            </div>

            <div class="center">
                <% if (anuncio.recursoDigital != null) { %>
                    <img src="/<%= anuncio.recursoDigital %>" class="responsive-img" style="width: fit-content; height: 350px;">
                <% } %>
            </div>

            <div class="card-content" style="padding-top:0px; padding-left: 30px;">
                <p><%= anuncio.texto %></p>
            </div>
            <% if (rol == 'admin' || rol == 'recursosHumanos') { %>
                <br>
                <%- include ('../botones/botonModificarAnuncio.ejs') %>
                <%- include ('../botones/botonEliminarAnuncio.ejs') %>
            <% } %>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="anunciosEliminar?idA=<%= anuncio.IdAnuncios %>" class="modal" style="height: 200px;">
    <form action="/anuncios" method="POST">
        <input type="hidden" name="id_anuncio" value="<%= anuncio.IdAnuncios %>">
        <div class="modal-content">
            <h5>¿Está seguro que desea eliminar el anuncio?</h5>
        </div>
        <div class="modal-footer">
            <button class="btn-large waves-effect red" type="submit" name="action">Aceptar</button>
            <a class="modal-close waves-effect blue btn-large">Cancelar</a>
        </div>
    </form>
</div>