<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natgas</title>
    <link rel="stylesheet" href="/css/stylesSignin.css">
    <script src="https://kit.fontawesome.com/7cb84113fc.js" crossorigin="anonymous"></script>

</head>
<body>         
    <div class="container 
    <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'success' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') { %>
        right-panel-active"
    <% } else { %>
        "    
    <% } %> id="container">
        <div class="form-container sign-up-container">
            <form class="form-registrar" action="/" method="POST">
                <h1>Crear Cuenta</h1>
                <span style="margin-bottom: 10px; margin-top: 10px;">El Administrador Aceptara tu Solicitud de Registro</span>
                <div style="display:inline-flex;">
                    <input type="text" placeholder="Nombres" id="nombre_signup" name="nombre" 
                    <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                        value="<%= nombre %>"
                    <% } %>
                    required/>
                    <input style="margin-left: 10px;" type="text" placeholder="Apellido Paterno" id="apPat_signup" name="apellidoP" 
                    <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                        value="<%= apellidoPat %>"
                    <% } %>
                    required/>
                    <input style="margin-left: 10px;" type="text" placeholder="Apellido Materno" id="apMat_signup" name="apellidoM" 
                    <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                        value="<%= apellidoMat %>"
                    <% } %>
                    required/>
                </div>
                <input type="number" placeholder="Nómina" id="nomina_signup" name="nomina" 
                <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                    value="<%= nomina %>"
                <% } %>
                required/>
                <input id="fechaNac" type="date" placeholder="Fecha Nacimiento" name="fechaNac" 
                <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                    value="<%= fechaNac %>"
                <% } %>
                required/>
                <input type="text" placeholder="Teléfono" id="tel_signup" name="telefono" 
                <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                    value="<%= tel %>"
                <% } %>
                required/>
                <input type="email" placeholder="Email" id="email_signup" name="email" 
                <% if (flag == 'NominaExiste' || flag == 'EmailExiste' || flag == 'ExisteNominaAux' || flag == 'ExisteEmailAux') {%>
                    value="<%= email %>"
                <% } %>
                required/>
                <input type="password" placeholder="Contraseña" id="pass_signup" name="password" required/><br>
                <% if (flag == 'NominaExiste') { %>
                    <%- include('componentes/cartas/cartaErrorNomina.ejs') %> <br>
                <% } else if (flag == 'EmailExiste') { %>
                    <%- include('componentes/cartas/cartaErrorEmail.ejs') %> <br>
                <% } else if (flag == 'ExisteNominaAux') { %>
                    <%- include('componentes/cartas/cartaErrorNominaAux.ejs') %> <br>
                <% } else if (flag == 'ExisteEmailAux') { %> 
                    <%- include('componentes/cartas/cartaErrorEmailAux.ejs') %> <br>
                <% } else if (flag == 'success') { %>
                    <%- include('componentes/cartas/cartaRegExitoso.ejs') %> <br>
                <% } %>  
                <button type="submit">Registrarse</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST" style="top: 0;">
                <img src="/Images/LogoNatgas_100x100px.png" width="100px" height="100px">
                <br>
                <h1>Iniciar Sesión</h1>
                <br>

                <input type="text" for="nombre" name="email_login" placeholder="Email" id="email" required />
                <span id="sign-in-error" style="color: red;"></span>
                <input type="password" for="passwd" name="password_login" placeholder="Contraseña" id="sign-in-password" required/>
                <div id="check">

                </div>
                <% if (flag == 'invalidCredentials') { %> 
                    <%- include('componentes/cartas/cartaErrorCredenciales.ejs') %>
                <% } %>
                <br>
                <!-- <a href="#">Olvidaste Password?</a> -->
                <button type="submit" value="Enviar">Iniciar Sesión</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido de Vuelta!</h1>
                    <p>Si ya tienes cuenta, solo da click en Iniciar Sesión!</p>
                    <button class="ghost" id="signIn">Iniciar Sesión</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenido!</h1>
                    <p>No tienes cuenta?
                        Registrate!
                    </p>
                        <button class="ghost" id="signUp">Registrarse!</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/signin.js"></script>
</body>
</html>